<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="app.css">
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
		<div id="wrapper" ng-controller="SliderCtrl">
			<!-- 	<button id="left"></button>
			<button id="right"></button> -->
			<div class="sec1" ng-class="{ 'sec1-2': chosen === 2, 'sec1-3': chosen === 3 }">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<p>{{chosen}}</p>
						<p>sec1</p>
						<p>sec1</p>
						<p>sec1</p>				
					</div>
					<div class="col-md-1">
						<a ng-hide="chosen === 2" class="btn btn-primary" ng-click="chosen = 2">-></a>
					</div>
				</div>
			</div>
			<div class="sec2">
				<div class="row">
					<div class="col-md-1">
						<a ng-hide="chosen === 1" class="btn btn-primary" ng-click="chosen = 1"><-</a>
					</div>
					<div class="col-md-10">
					<p>{{chosen}}</p>
						<p>sec1</p>
						<p>sec1</p>
						<p>sec1</p>				
					</div>
					<div class="col-md-1">
						<a ng-hide="chosen === 3" class="btn btn-primary" ng-click="chosen = 3">-></a>
					</div>
				</div>
			</div>
			<div class="sec3">
				<div class="row">
					<div class="col-md-1">
						<a ng-hide="chosen === 2" class="btn btn-primary" ng-click="chosen = 2"><-</a>
					</div>
					<div class="col-md-10">
					<p>{{chosen}}</p>
						<p>sec1</p>
						<p>sec1</p>
						<p>sec1</p>				
					</div>
				</div>
			</div>
		</div>
	</body>
</html>